﻿@{
    Layout = "~/Views/shared/_LeadLayout.cshtml";
    ViewBag.Title = "JAG Method: Insurance rates for you";
}
@using JAG.DevTest2019.Host.Models
@model LeadViewModel

@section Meta{
    <meta name="description" content="Best Insurance, get your insurance quote in a few minutes and save money" />
    <meta name="keywords" content="Insurace, Car Insurance, Home Insurance, Product Insurace" />
}

<div class="loader">
        <center>
            <img id="image-loader" src="/Content/Images/loader.gif" alt="loading.." style="display: none">
        </center>
 </div>
<div id="quote-form" style="background-image: url(/Content/Images/loader.gif); style">
    <section id="quote" class="main-banner" style="background-image: url(/Content/Images/Banners/car-insurance.jpg)" alt="Car Insurance">
        <div class="slant-left col-md-9 pull-left">
            <div class="col-md-8 col-md-offset-2">
                <div class="capture-form">
                    <h1 class="text-center">Insurance</h1>
                    <h4>Don’t pay too much, find the best insurance quotes and start saving today!</h4>
                    @using (Html.BeginForm("SubmitLead", "Lead", FormMethod.Post, new { id = "frmsubmit" }))
                    {
                        @Html.AntiForgeryToken();
                        <div class="col-md-12">
                            <p>
                                <input type="hidden" value="@Model.TrackingCode" id="hdnTrackingCode" />

                                My name is @Html.TextBoxFor(model => model.FirstName, new { @placeholder = Html.DisplayNameFor(model => model.FirstName) }) @Html.TextBoxFor(model => model.Surname, new { @placeholder = Html.DisplayNameFor(model => model.Surname) })
                                You can contact me at @Html.TextBoxFor(model => model.EmailAddress, new { @placeholder = Html.DisplayNameFor(model => model.EmailAddress) }) or @Html.TextBoxFor(model => model.ContactNumber, new { @placeholder = Html.DisplayNameFor(model => model.ContactNumber) })
                                to help me save on insurance
                                I am @Html.DropDownListFor(model => model.Gender, Model.Genders, "Gender") and my language preference is
                                @Html.DropDownListFor(model => model.Language, Model.Languages, "Language")
                                and my blood type is @Html.DropDownListFor(model => model.Language, Model.BloodTypes, "BloodType")
                            </p>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-12 text-center">
                            <button type="submit" id="btnSubmit" class="orange-button">Get Quotes Now</button>
                        </div>
                    }
                    @if (Model.Results != null &&
                        Model.Results.IsSuccessful)
                    {
                        <div id="success-text" class="col-md-12 text-center">
                            <img src="~/Content/Images/Products/new-success.png" height="24px" />
                            @Html.ValueFor(model => model.Results.Message)
                        </div>
                    }

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
  </section>
</div>  

<div class="clearfix"></div>
<div class="container benefits-padding text-center">
    <h2>Benefits</h2>
    <div class="benefits-cols">
        <div class="col-md-3 text-center text-instructions">
            <img src="~/Content/Images/Products/new-save.png" alt="Cheap Insurance premiums" />
            <p>People saved on insurance</p>
        </div>
        <div class="col-md-3 text-center text-instructions">
            <img src="~/Content/Images/Products/new-calling.png" alt="Insurance in 5 minutes" />
            <p>99.99% were called in under 5 minutes</p>
        </div>
        <div class="col-md-3 text-center text-instructions">
            <img src="~/Content/Images/Products/new-success.png" alt="Best insurance in the world" />
            <p>96% believe these stats</p>
        </div>
        <div class="col-md-3 text-center text-instructions">
            <img src="~/Content/Images/Products/new-clients.png" alt="Insurance with support for the people" />
            <p id="qsText">Over 6,000,000 queries serviced</p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div id="quote" class="testimonial-banner" style="background-image: url('../../Content/Images/Banners/best-car-insurance.jpg');">
    <div class="slant-right col-md-9 pull-right">
        <div class="col-md-6 col-md-offset-3 testimonials text-center">
            <b>Getting the lowest insurance quote has never been so easy:</b>
            <p>
                <b>Joe Blogs (26 years)</b><br /><br />
                Telsa model x <br />
                Was paying R999,999.99<br />
                Now paying R99.99
            </p>
            <h2 class="highlight">Insurance saving of {lots of %}</h2>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="container-blue">
    <div class="col-md-6 col-md-offset-3 text-center">
        <h1>Get a quote and</h1>
        <h1 class="green">start saving now</h1>
        <p>Get in touch to receive insurance quotes from South Africa’s top insurance companies. Getting the lowest insurance premiums has never been so easy.</p>
        <a id="lnkGetQuote" href="#quote" class="orange-button">Get a quote now</a>
    </div>
    <div class="clearfix"></div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#lnkLead').addClass('activeMenu');

            var sizeOfProcessedQueries = localStorage.getItem('InitialQueriesServiced');

            if (sizeOfProcessedQueries === '' || sizeOfProcessedQueries === null) {
                $('#qsText').text('Over 6, 000, 000 queries serviced');
                localStorage.setItem('InitialQueriesServiced', 6000000);
            } else {
                $('#qsText').text('Over ' + formatNumber(localStorage.getItem('InitialQueriesServiced')) + ' queries serviced')
            }

            $('#frmsubmit').submit(function (e) {
                e.preventDefault();

                $.ajax({
                    url: '@Url.Action("SubmitLead", "Lead")',
                    type: 'POST',
                    data: $('#frmsubmit').serialize(),
                    beforeSend: function () {
                        showLoading()
                    },
                    complete: function () {
                        removeLoading()
                    },
                    success: function (result) {   
                        if (result.IsSuccessful) {
                            $('#success-text').text(result.Message);
                            incrementQueriesProcessed();
                            removeLoading();
                            swal({
                                icon: 'success',
                                title: 'Success',
                                text: result.Message,
                                type: 'success'
                            }).then(function () {
                                location.reload();
                            });
                        } else {
                            swal({
                                icon: 'error',
                                title: 'Ooops....',
                                text: result.Message,
                                type: 'error'
                            }).then(function () {
                                location.reload();
                            });
                        }
                    },
                    error: function () {
                        alert('An error occured');
                    }
                })
            });
        });

        function incrementQueriesProcessed() {
            var num = parseInt(localStorage.getItem('InitialQueriesServiced'));
            var queriesServiced = num + 1;

            localStorage.setItem('InitialQueriesServiced', queriesServiced);
        }

        function formatNumber(num) {
            return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
        }

        function showLoading() {
            window.blockElement('#image-loader', 'Processing...please wait');
            $('#btnSubmit').attr('disabled', true);
        }

        function removeLoading() {
            window.unblockElement('#image-loader');
            $('#btnSubmit').removeAttr('disabled');
        }

        window.unblockElement = function (selector) {
            $(selector).unblock();
        }

        window.blockElement = function (selector, message) {
            $(selector).block(message);
        }
    </script>
}