﻿@using System.Web.Mvc

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/favicon.ico" rel="shortcut icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,600,800" rel="stylesheet">
    <title>JAG Dev Test: @ViewBag.Title</title>
    @RenderSection("Meta", required: false)

    <!-- Styles
    ================================================== -->
    @Styles.Render("~/bundles/css")
    <link rel="stylesheet" href="~/Content/Newcustom.css">
    <style>
        .async-hide {
            opacity: 0 !important
        }
    </style>

    <!--[if IE]>
    <link rel="stylesheet" href="../Content/IEfixes.css">
    <![endif]-->
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="~/Content/ltIEfixes.css">
    <![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltips and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="pre-header">
        <div class="container">
            <div class="col-md-12 pull-right number text-right">
                Need help? <a href="tel:+27113266761">011 326 6761</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clear"></div>
    </div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="header container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="hypLogo" href="/">
                    <img src="~/Content/Images/logo.png" style="height:50px">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a id="lnkHome" href="/">Home</a></li>
                    <li><a id="lnkLead" href="/Lead">Leads</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </nav>
    @RenderBody()
    <div class="clearfix"></div>

    <!-- JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE8 support of jQuery -->
    <!--[if lt IE 9]>
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <!--<![endif]-->
    <!--[if !IE]>
    <!--LeadBot-->
    @*<script type="text/javascript" src="https://popupwidget.leadflip.ai"> </script>*@
    <!--<![endif]-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/js")
    @RenderSection("Scripts", required: false)

</body>
</html>
